openapi: 3.1.0
info:
  title: PagBank / PagSeguro REST Accounts Refunds API
  description: "PagBank (PagSeguro) REST API surface covering Orders, Charges, Public\nKeys, Checkout, Recurring (plans / subscribers / subscriptions / coupons\n/ invoices), and Connect / OAuth. All requests authenticate with a Bearer\naccess token over HTTPS; responses are JSON.\n\nBase URLs:\n  - Production: https://api.pagseguro.com\n  - Sandbox:    https://sandbox.api.pagseguro.com\n"
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Refunds
paths:
  /refunds:
    post:
      tags:
      - Refunds
      summary: Create a Refund
      responses:
        '201':
          description: Refund created
    get:
      tags:
      - Refunds
      summary: List Refunds
      responses:
        '200':
          description: Refunds list
  /refunds/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Refunds
      summary: Get a Refund
      responses:
        '200':
          description: Refund
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
