openapi: 3.2.0
info:
  title: PagBank / PagSeguro REST Plans API
  description: 'PagBank (PagSeguro) REST API surface covering Orders, Charges, Public

    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons

    / invoices), and Connect / OAuth. All requests authenticate with a Bearer

    access token over HTTPS; responses are JSON.


    Base URLs:

    - Production: https://api.pagseguro.com

    - Sandbox: https://sandbox.api.pagseguro.com'
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Plans
paths:
  /plans:
    post:
      tags:
      - Plans
      summary: Create a Recurring Plan
      responses:
        '201':
          description: Plan created
      operationId: postPlans
      x-operation-id-source: derived
    get:
      tags:
      - Plans
      summary: List Plans
      responses:
        '200':
          description: Plans list
      operationId: getPlans
      x-operation-id-source: derived
  /plans/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Plans
      summary: Get a Plan
      responses:
        '200':
          description: Plan
      operationId: getPlansById
      x-operation-id-source: derived
    put:
      tags:
      - Plans
      summary: Update a Plan
      responses:
        '200':
          description: Plan updated
      operationId: putPlansById
      x-operation-id-source: derived
  /plans/{id}/activate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Plans
      summary: Activate a Plan
      responses:
        '200':
          description: Plan activated
      operationId: putPlansByIdActivate
      x-operation-id-source: derived
  /plans/{id}/deactivate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Plans
      summary: Deactivate a Plan
      responses:
        '200':
          description: Plan deactivated
      operationId: putPlansByIdDeactivate
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
