openapi: 3.2.0
info:
  title: PagBank / PagSeguro REST Checkout API
  description: 'PagBank (PagSeguro) REST API surface covering Orders, Charges, Public

    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons

    / invoices), and Connect / OAuth. All requests authenticate with a Bearer

    access token over HTTPS; responses are JSON.


    Base URLs:

    - Production: https://api.pagseguro.com

    - Sandbox: https://sandbox.api.pagseguro.com'
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Checkout
paths:
  /checkouts:
    post:
      tags:
      - Checkout
      summary: Create a Checkout
      responses:
        '201':
          description: Checkout created
      operationId: postCheckouts
      x-operation-id-source: derived
  /checkouts/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Checkout
      summary: Get a Checkout
      responses:
        '200':
          description: Checkout
      operationId: getCheckoutsById
      x-operation-id-source: derived
  /checkouts/{id}/activate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Checkout
      summary: Activate a Checkout
      responses:
        '200':
          description: Activated
      operationId: postCheckoutsByIdActivate
      x-operation-id-source: derived
  /checkouts/{id}/deactivate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Checkout
      summary: Deactivate a Checkout
      responses:
        '200':
          description: Deactivated
      operationId: postCheckoutsByIdDeactivate
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
