openapi: 3.1.0
info:
  title: PagBank / PagSeguro REST Accounts Subscriptions API
  description: "PagBank (PagSeguro) REST API surface covering Orders, Charges, Public\nKeys, Checkout, Recurring (plans / subscribers / subscriptions / coupons\n/ invoices), and Connect / OAuth. All requests authenticate with a Bearer\naccess token over HTTPS; responses are JSON.\n\nBase URLs:\n  - Production: https://api.pagseguro.com\n  - Sandbox:    https://sandbox.api.pagseguro.com\n"
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Subscriptions
paths:
  /subscriptions:
    post:
      tags:
      - Subscriptions
      summary: Create a Subscription
      responses:
        '201':
          description: Subscription created
    get:
      tags:
      - Subscriptions
      summary: List Subscriptions
      responses:
        '200':
          description: Subscriptions list
  /subscriptions/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Subscriptions
      summary: Get a Subscription
      responses:
        '200':
          description: Subscription
    put:
      tags:
      - Subscriptions
      summary: Update a Subscription
      responses:
        '200':
          description: Subscription updated
  /subscriptions/{id}/cancel:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Subscriptions
      summary: Cancel a Subscription
      responses:
        '200':
          description: Subscription cancelled
  /subscriptions/{id}/suspend:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Subscriptions
      summary: Suspend a Subscription
      responses:
        '200':
          description: Subscription suspended
  /subscriptions/{id}/activate:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Subscriptions
      summary: Activate a Subscription
      responses:
        '200':
          description: Subscription activated
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
