openapi: 3.2.0
info:
  title: PagBank / PagSeguro REST Subscribers API
  description: 'PagBank (PagSeguro) REST API surface covering Orders, Charges, Public

    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons

    / invoices), and Connect / OAuth. All requests authenticate with a Bearer

    access token over HTTPS; responses are JSON.


    Base URLs:

    - Production: https://api.pagseguro.com

    - Sandbox: https://sandbox.api.pagseguro.com'
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Subscribers
paths:
  /subscribers:
    post:
      tags:
      - Subscribers
      summary: Create a Subscriber
      responses:
        '201':
          description: Subscriber created
      operationId: postSubscribers
      x-operation-id-source: derived
    get:
      tags:
      - Subscribers
      summary: List Subscribers
      responses:
        '200':
          description: Subscribers list
      operationId: getSubscribers
      x-operation-id-source: derived
  /subscribers/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Subscribers
      summary: Get a Subscriber
      responses:
        '200':
          description: Subscriber
      operationId: getSubscribersById
      x-operation-id-source: derived
    put:
      tags:
      - Subscribers
      summary: Update a Subscriber
      responses:
        '200':
          description: Subscriber updated
      operationId: putSubscribersById
      x-operation-id-source: derived
  /subscribers/{id}/payment-method:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    put:
      tags:
      - Subscribers
      summary: Update Subscriber Payment Method
      responses:
        '200':
          description: Payment method updated
      operationId: putSubscribersByIdPaymentMethod
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
