openapi: 3.2.0
info:
  title: PagBank / PagSeguro REST Charges API
  description: 'PagBank (PagSeguro) REST API surface covering Orders, Charges, Public

    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons

    / invoices), and Connect / OAuth. All requests authenticate with a Bearer

    access token over HTTPS; responses are JSON.


    Base URLs:

    - Production: https://api.pagseguro.com

    - Sandbox: https://sandbox.api.pagseguro.com'
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Charges
paths:
  /orders/{order_id}/charges:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Charges
      summary: Charge an Order
      responses:
        '201':
          description: Charge created
      operationId: postOrdersByOrderIdCharges
      x-operation-id-source: derived
  /orders/{order_id}/charges/{charge_id}/capture:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: string
    - name: charge_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Charges
      summary: Capture a Charge
      responses:
        '200':
          description: Charge captured
      operationId: postOrdersByOrderIdChargesByChargeIdCapture
      x-operation-id-source: derived
  /orders/{order_id}/charges/{charge_id}/cancel:
    parameters:
    - name: order_id
      in: path
      required: true
      schema:
        type: string
    - name: charge_id
      in: path
      required: true
      schema:
        type: string
    post:
      tags:
      - Charges
      summary: Cancel a Charge
      responses:
        '200':
          description: Charge cancelled
      operationId: postOrdersByOrderIdChargesByChargeIdCancel
      x-operation-id-source: derived
  /charges/{charge_id}/fees:
    parameters:
    - name: charge_id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Charges
      summary: Get Charge Fees
      responses:
        '200':
          description: Fees
      operationId: getChargesByChargeIdFees
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
