openapi: 3.2.0
info:
  title: PagBank / PagSeguro REST Refunds API
  description: 'PagBank (PagSeguro) REST API surface covering Orders, Charges, Public

    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons

    / invoices), and Connect / OAuth. All requests authenticate with a Bearer

    access token over HTTPS; responses are JSON.


    Base URLs:

    - Production: https://api.pagseguro.com

    - Sandbox: https://sandbox.api.pagseguro.com'
  version: v1
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
- url: https://api.pagseguro.com
  description: PagBank production API
- url: https://sandbox.api.pagseguro.com
  description: PagBank sandbox API
security:
- bearerAuth: []
tags:
- name: Refunds
paths:
  /refunds:
    post:
      tags:
      - Refunds
      summary: Create a Refund
      responses:
        '201':
          description: Refund created
      operationId: postRefunds
      x-operation-id-source: derived
    get:
      tags:
      - Refunds
      summary: List Refunds
      responses:
        '200':
          description: Refunds list
      operationId: getRefunds
      x-operation-id-source: derived
  /refunds/{id}:
    parameters:
    - name: id
      in: path
      required: true
      schema:
        type: string
    get:
      tags:
      - Refunds
      summary: Get a Refund
      responses:
        '200':
          description: Refund
      operationId: getRefundsById
      x-operation-id-source: derived
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: 'PagBank access token issued via the developer portal (or via the

        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All

        requests must be HTTPS.

        '
