openapi: 3.1.0
info:
  title: PagBank / PagSeguro REST API
  description: |
    PagBank (PagSeguro) REST API surface covering Orders, Charges, Public
    Keys, Checkout, Recurring (plans / subscribers / subscriptions / coupons
    / invoices), and Connect / OAuth. All requests authenticate with a Bearer
    access token over HTTPS; responses are JSON.

    Base URLs:
      - Production: https://api.pagseguro.com
      - Sandbox:    https://sandbox.api.pagseguro.com
  version: "v1"
  contact:
    name: PagBank Developers
    url: https://developer.pagbank.com.br/
servers:
  - url: https://api.pagseguro.com
    description: PagBank production API
  - url: https://sandbox.api.pagseguro.com
    description: PagBank sandbox API
security:
  - bearerAuth: []
tags:
  - name: Orders
  - name: Charges
  - name: PublicKeys
  - name: Checkout
  - name: Plans
  - name: Subscribers
  - name: Subscriptions
  - name: Coupons
  - name: Invoices
  - name: Refunds
  - name: Connect
  - name: Accounts
paths:
  /orders:
    post:
      tags: [Orders]
      summary: Create an Order
      responses:
        "201":
          description: Order created
    get:
      tags: [Orders]
      summary: List Orders
      responses:
        "200":
          description: Orders list
  /orders/{order_id}:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Orders]
      summary: Get an Order
      responses:
        "200":
          description: Order
  /orders/{order_id}/charges:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Charges]
      summary: Charge an Order
      responses:
        "201":
          description: Charge created
  /orders/{order_id}/charges/{charge_id}/capture:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      - name: charge_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Charges]
      summary: Capture a Charge
      responses:
        "200":
          description: Charge captured
  /orders/{order_id}/charges/{charge_id}/cancel:
    parameters:
      - name: order_id
        in: path
        required: true
        schema:
          type: string
      - name: charge_id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Charges]
      summary: Cancel a Charge
      responses:
        "200":
          description: Charge cancelled
  /charges/{charge_id}/fees:
    parameters:
      - name: charge_id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Charges]
      summary: Get Charge Fees
      responses:
        "200":
          description: Fees
  /public-keys:
    post:
      tags: [PublicKeys]
      summary: Create a Public Key
      responses:
        "201":
          description: Public key created
  /public-keys/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [PublicKeys]
      summary: Get a Public Key
      responses:
        "200":
          description: Public key
  /checkouts:
    post:
      tags: [Checkout]
      summary: Create a Checkout
      responses:
        "201":
          description: Checkout created
  /checkouts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Checkout]
      summary: Get a Checkout
      responses:
        "200":
          description: Checkout
  /checkouts/{id}/activate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Checkout]
      summary: Activate a Checkout
      responses:
        "200":
          description: Activated
  /checkouts/{id}/deactivate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    post:
      tags: [Checkout]
      summary: Deactivate a Checkout
      responses:
        "200":
          description: Deactivated
  /plans:
    post:
      tags: [Plans]
      summary: Create a Recurring Plan
      responses:
        "201":
          description: Plan created
    get:
      tags: [Plans]
      summary: List Plans
      responses:
        "200":
          description: Plans list
  /plans/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Plans]
      summary: Get a Plan
      responses:
        "200":
          description: Plan
    put:
      tags: [Plans]
      summary: Update a Plan
      responses:
        "200":
          description: Plan updated
  /plans/{id}/activate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Plans]
      summary: Activate a Plan
      responses:
        "200":
          description: Plan activated
  /plans/{id}/deactivate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Plans]
      summary: Deactivate a Plan
      responses:
        "200":
          description: Plan deactivated
  /subscribers:
    post:
      tags: [Subscribers]
      summary: Create a Subscriber
      responses:
        "201":
          description: Subscriber created
    get:
      tags: [Subscribers]
      summary: List Subscribers
      responses:
        "200":
          description: Subscribers list
  /subscribers/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Subscribers]
      summary: Get a Subscriber
      responses:
        "200":
          description: Subscriber
    put:
      tags: [Subscribers]
      summary: Update a Subscriber
      responses:
        "200":
          description: Subscriber updated
  /subscribers/{id}/payment-method:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Subscribers]
      summary: Update Subscriber Payment Method
      responses:
        "200":
          description: Payment method updated
  /subscriptions:
    post:
      tags: [Subscriptions]
      summary: Create a Subscription
      responses:
        "201":
          description: Subscription created
    get:
      tags: [Subscriptions]
      summary: List Subscriptions
      responses:
        "200":
          description: Subscriptions list
  /subscriptions/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Subscriptions]
      summary: Get a Subscription
      responses:
        "200":
          description: Subscription
    put:
      tags: [Subscriptions]
      summary: Update a Subscription
      responses:
        "200":
          description: Subscription updated
  /subscriptions/{id}/cancel:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Subscriptions]
      summary: Cancel a Subscription
      responses:
        "200":
          description: Subscription cancelled
  /subscriptions/{id}/suspend:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Subscriptions]
      summary: Suspend a Subscription
      responses:
        "200":
          description: Subscription suspended
  /subscriptions/{id}/activate:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    put:
      tags: [Subscriptions]
      summary: Activate a Subscription
      responses:
        "200":
          description: Subscription activated
  /subscriptions/{id}/invoices:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Invoices]
      summary: List Invoices for a Subscription
      responses:
        "200":
          description: Invoices list
  /invoices/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Invoices]
      summary: Get an Invoice
      responses:
        "200":
          description: Invoice
  /coupons:
    post:
      tags: [Coupons]
      summary: Create a Coupon
      responses:
        "201":
          description: Coupon created
    get:
      tags: [Coupons]
      summary: List Coupons
      responses:
        "200":
          description: Coupons list
  /coupons/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Coupons]
      summary: Get a Coupon
      responses:
        "200":
          description: Coupon
  /refunds:
    post:
      tags: [Refunds]
      summary: Create a Refund
      responses:
        "201":
          description: Refund created
    get:
      tags: [Refunds]
      summary: List Refunds
      responses:
        "200":
          description: Refunds list
  /refunds/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Refunds]
      summary: Get a Refund
      responses:
        "200":
          description: Refund
  /applications:
    post:
      tags: [Connect]
      summary: Create a Connect Application
      responses:
        "201":
          description: Application created
  /applications/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Connect]
      summary: Get a Connect Application
      responses:
        "200":
          description: Application
  /authorization:
    get:
      tags: [Connect]
      summary: Request Authorization (Connect)
      responses:
        "200":
          description: Authorization URL / status
  /tokens:
    post:
      tags: [Connect]
      summary: Issue an Access Token
      responses:
        "201":
          description: Token issued
  /tokens/refresh:
    post:
      tags: [Connect]
      summary: Refresh an Access Token
      responses:
        "200":
          description: Token refreshed
  /tokens/revoke:
    post:
      tags: [Connect]
      summary: Revoke an Access Token
      responses:
        "200":
          description: Token revoked
  /accounts:
    post:
      tags: [Accounts]
      summary: Create a Sub-Merchant Account
      responses:
        "201":
          description: Account created
  /accounts/{id}:
    parameters:
      - name: id
        in: path
        required: true
        schema:
          type: string
    get:
      tags: [Accounts]
      summary: Get a Sub-Merchant Account
      responses:
        "200":
          description: Account
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: access_token
      description: |
        PagBank access token issued via the developer portal (or via the
        Connect flow). Send as "Authorization: Bearer {ACCESS_TOKEN}". All
        requests must be HTTPS.
